<% @title ="Your Inspirational Network" %>
<% unless user_signed_in? %>
	<div class="hero-unit">
    <center><h1>Welcome to</h1>
    <br>
    <img src="/images/YIN_logo.png">
    <br>
    <p>
        Inspirational photos. Without all the fluff.
    </p>
	<p> 
        <%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-large btn-primary" %> 
    </p>
    </center>
	</div>
<% end %>