<% unless user_signed_in? %>
	<div class="hero-unit">
    <h1>Welcome to Inspire Network! </h1>
    <p>
    	You've found the home page for the 
    	<%= link_to 'Inspire Network',  "http://www.blog2success.net" %>
    	application.
     </p>
	   <p> 
    	<%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-large btn-primary" %> 
    </p>
	</div>
<% end %>