<div class="footer">
	<small>
		<%= link_to image_tag("/images/YIN_tag.png", :alt => "Your Inspiration Network"), root_path, class: "brand" %>
		by <%= link_to "Rasheed Bustamam", "http://www.Blog2Success.net" %>
	</small>
</div>